# Banco de Dados (SQL Server)
SA_PASSWORD=Strong@Passw0rd

# JWT
JWT_SIGNING_KEY=V6lNvSvWgiXk8V0yfzml3QlR8SNy6xtW
JWT_ISSUER=Coldmart
JWT_AUDIENCE=http://localhost

# RabbitMQ
RABBITMQ_USERNAME=coldmart
RABBITMQ_PASSWORD=coldmart

# Ambiente
ASPNETCORE_ENVIRONMENT=Production